*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: rgb(187, 187, 187);
}
.buttons{
    padding: 5rem 2rem;
}
h2{
    margin-left:10%;
    margin-top: 2rem;
    padding: 20px;
    color: rgb(42, 42, 42);
    border-left: solid 20px goldenrod;
    animation: spin 2s forwards;
}
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: rgb(42, 42, 42);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    animation: scale 1s forwards;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button .span1:after {
    content: '🕯';
    position: absolute;
    opacity: 0;
    top: -6px;
    RIGHT: -6px;
    transition: .5s;
    font-size: 1.5rem;
  }
  .button:hover .span1 {
    padding-right: 9rem;
  }
  .button span:after {
    content: 'NOT';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -2px;
    transition: .5s;
    font-size: 20px;
  }
  
  .button:hover span {
    padding-left: 40px;
  }
  
  .button:hover span:after {
    opacity: 1;
    left: -10px;
  }

  @keyframes spin {
    0% {
      transform: rotateX(0);
    }
    100% {
      opacity: 1;
      transform: rotateX(-360deg);
    }
  }

  @keyframes scale {
    0% {
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }