@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Mrs+Saint+Delafield&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: rgb(42, 42, 42);
}
.glow {
  margin: 4rem;
  font-size: 60px;
  color: rgb(42, 42, 42);
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
p{
  background-color: goldenrod;
  padding: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
  line-height: 3rem;
  font-size: 20px;
  text-align: center;
  border-radius:1rem;
  font-family: 'Karla', sans-serif;
  font-weight: 600 ;
}
h2{
  float: right;
  margin-right: 2rem;
  font-family: 'Mrs Saint Delafield', cursive;
  color: #fff;
  font-size: 3rem;
  font-weight: lighter;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px goldenrod, 0 0 50px goldenrod, 0 0 60px goldenrod, 0 0 70px goldenrod;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px goldenrod, 0 0 40px goldenrod, 0 0 50px goldenrod, 0 0 60px goldenrod, 0 0 70px goldenrod, 0 0 80px goldenrod;
  }
}