*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: rgb(187, 187, 187);
}

h2{
    text-align: center;
    margin-top: 2rem;
    padding: 20px;
    color: rgb(42, 42, 42);
    animation: spin 2s forwards;
}
ul {
  list-style-type: none;
}

/* Month header */
.month {
  padding: 40px 25px;
  width: 96%;
  background: goldenrod;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
}



/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 20px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: rgb(42, 42, 42);
  text-align: center;
  font-size: 1.2rem;
}

/* Days (1-31) */
.days {
  padding: 30px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:16px;
  color: rgb(42, 42, 42);
  font-weight: 500;
  line-height: 2rem;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: goldenrod;
  color: white;
}

  @keyframes spin {
    0% {
      transform: rotateX(0);
    }
    100% {
      opacity: 1;
      transform: rotateX(-360deg);
    }
  }

  @keyframes scale {
    0% {
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }