*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: rgb(187, 187, 187);
}
.buttons{
    padding: 5rem 2rem;
}
div h2{
    margin-left:10%;
    margin-top: 2rem;
    padding: 20px;
    color: rgb(42, 42, 42);
    border-left: solid 20px goldenrod;
    animation: spin 2s forwards;
}
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: rgb(42, 42, 42);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    animation: scale 1s forwards;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: 'is the last';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -2px;
    transition: .5s;
    font-size: 20px;
  }
  
  .button:hover span {
    padding-right: 40px;
    left: -2rem;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: -49px;
  }

  @keyframes spin {
    0% {
      transform: rotateX(0);
    }
    100% {
      opacity: 1;
      transform: rotateX(-360deg);
    }
  }

  @keyframes scale {
    0% {
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
    }
}
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid goldenrod;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  .animate-bottom #myDiv{
    animation: scale 2s forwards;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  